@use "../../../styles/global.scss" as *;

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $charcoal-grey;
  padding: $padding-sm;
  gap: $gap-lg;
  &__content {
    display: flex;
    min-width: 500px;
    gap: $gap-lg;
  }
}
