@use "../../../styles/global.scss" as *;

$card-height: 400px;

.carousel {
  max-width: 75vw;
  margin: 0 auto;
  padding-top: $padding-lg;
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc($gap-sm * 4);
  }
  &__card {
    width: 100%;
  }
  &__card-image-container {
    height: $card-height;
    overflow: hidden;
    border-radius: $radius-md;
    border: solid $bee-yellow 3px;
    background-color: black;
  }
  &__card-image {
    max-width: 100%;
    vertical-align: bottom;
  }
  &__card-title {
    color: $white;
    margin: $margin-sm 0;
    padding-left: calc(($gap-sm * 4) + 32px + $border-sm);
  }
}
